<div class="modal-header">
    <h3 class="modal-title">{{ inputs.header }} a broker!</h3>
</div>
<div class="modal-body">
    <form role="form">
	  <div class="form-group">
	    <label for="name">Name </label>
	    <input type="text" data-ng-model="inputs.name" class="form-control" id="name" placeholder="Name of the broker" required>
	  </div>
	  <div class="form-group">
	    <label for="broker">Type</label>
	    	<select class="form-control" ng-options="broker for broker in brokers" data-ng-model="inputs.broker" required>
	    	</select>
	  </div>
	  <div class="form-group">
	    <label for="Server">Server</label>
	    <input class="form-control" type="text" ng-model="inputs.server" placeholder="Hostname of broker server" required></input>
	  </div>
	  <div class="form-group">
	    <label for="Environment">Environment</label>
	    <input class="form-control" type="text" ng-model="inputs.environment" placeholder="Name of the environment" required></input>
	  </div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>