
<div class="row">
	<div class="col-md-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-cloud"></i> Nodes</h3>
		  </div>
		  <div class="panel-body">
		    count: {{nodes.count}}
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-random"></i> Brokers</h3>
		  </div>
		  <div class="panel-body">
		    count: {{brokers.count}}
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-tags"></i> Tags</h3>
		  </div>
		  <div class="panel-body">
		    count: {{tags.count}}
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-folder-open"></i> Repos</h3>
		  </div>
		  <div class="panel-body">
		    count: {{repos.count}}
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-tasks"></i> Tasks</h3>
		  </div>
		  <div class="panel-body">
		    count: {{tasks.count}}
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-paperclip"></i> Policies</h3>
		  </div>
		  <div class="panel-body">
		    count: {{policies.count}}
		  </div>
		</div>
	</div>
</div>