
<div class="col-sm-4">
	<input type="text" class="form-control" data-ng-model="filter.name"/>
</div>

<table class="table table-hover main-list">
	<thead>
		<th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Name</a></th>
		<th><a href="" ng-click="reverse=!reverse;order('hostname', reverse)">Hostname</a></th>
		<th><a href="" ng-click="reverse=!reverse;order('facts.processorcount', reverse)">Processor</a> | <a href="" ng-click="reverse=!reverse;order('facts.memorysize_mb', reverse)">Memory</a> | <a href="" ng-click="reverse=!reverse;order('facts.blockdevice_sda_size', reverse)">Disk</a></th>
		<th><a href="" ng-click="reverse=!reverse;order('facts.macaddress', reverse)">Address MAC | IP</a></th>
		<th><a href="" ng-click="reverse=!reverse;order('state.installed', reverse)">Status | Policy</a></th>
		<th>Tags</th>
		<th><a href="" ng-click="reverse=!reverse;order('facts.is_virtual', reverse)" tooltip-placement="top" tooltip="Virtual Machine">VM</a></th>
		<th><a href="" ng-click="reverse=!reverse;order('unix', reverse)">Checkin</a></th>
		<th><span  tooltip-placement="top" tooltip="Double click to show password, hides in 10s">Password</span></th>
		<th></th>
	</thead>
	<tbody>
		<tr data-ng-repeat="(key, node) in data | filter:filter.name " ng-class="{'true':'success'}[node.new]"> 
			<td><a tooltip-placement="right" tooltip="{{node.state.stage}}"><span ng-class="{'boot_install': 'label label-info', 'boot_local' : 'label label-success', undefined : 'label label-warning' }[node.state.stage]"><i class="fa " ng-class="{'boot_install' : 'fa-spinner fa-spin', 'boot_local':'fa-check' , undefined : 'fa-question'}[node.state.stage]"></i></span><span> </span> </a>{{ node.name }} </td>
			<td>{{ node.hostname }} </td>
			<td>{{ node.facts.processorcount }} CPU | {{ (node.facts.memorysize_mb)/1024 | number:1 }} Gb | {{ (node.facts.blockdevice_sda_size)/1024/1024/1024 | number:0}} GB</td>
			<td><span class="label label-info">{{ node.facts.macaddress }}</span> <span class="label label-primary">{{ node.metadata.ip }}</span></td>
			<td class="">
			<span ng-if="node.state.installed == false" >
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{node_status[node.name]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{node_status[node.name]}}%">
				    <span class="">{{node_status[node.name]}}%</span>
				  </div>
				</div>
			</span> 
			<span ng-if="node.state.installed != false" >{{ node.state.installed }}</span></td>
			<td><span  data-ng-repeat="tag in node.tags"><span class="label label-primary"> {{ tag.name }} </span> </span> </td>
			<td><span ng-show="node.facts.is_virtual">Yes</span><span ng-hide="node.facts.is_virtual">No</span></td>
			<td>{{ node.unix | date:"dd.MM.yyyy - HH:mm:ss"}} </td>
			<td><span ng-dblclick="showPassword(node)" class="label" ng-class="(node.passwordhidden) ? 'label-success' : 'label-danger'"><span ng-show="node.passwordhidden" class="fa fa-asterisk" ng-repeat="i in getNumber(passwordlength) track by $index"></span><span ng-hide="node.passwordhidden">{{ node.root_password }}</span></span></td>
			<td> 
				<div class="btn-group">
					<button type="button" class="btn btn-danger btn-xs" data-ng-click="command('delete-node', { name : node.name},key)" tooltip-placement="top" tooltip="Delete node"><i class="fa fa-trash"></i></button>
					<button type="button" class="btn btn-default btn-xs" data-ng-click="command('reboot-node', { name : node.name},key)" tooltip-placement="top" tooltip="Reboot node"><i class="fa fa-refresh"></i></button>
					<a href="#/logs/{{node.name}}" type="button" class="btn btn-default btn-xs" tooltip-placement="top" tooltip="Logs"><i class="fa fa-list-alt"></i></a>
					<button type="button" ng-if="node.state.installed != false" class="btn btn-primary btn-xs" data-ng-click="command('reinstall-node', { name : node.name},key)" tooltip-placement="top" tooltip="Reinstall node"><i class="fa fa-recycle"></i></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>