
<div class="col-sm-4">
	<input type="text" class="form-control" data-ng-model="filter.name"/>
</div>

<table class="table table-hover main-list">
	<thead>
		<th>Name</th>
		<th>Hostname</th>
		<th>Processors|memory</th>
		<th>Disksize</th>
		<th>Mac Address</th>
		<th>Installed</th>
		<th>Tags</th>
		<th>Virtual</th>
		<th>Checkin</th>
		<th>Logs</th>
		<th></th>
	</thead>
	<tbody>
		<tr data-ng-repeat="node in data | filter:filter.name | orderBy:'name'" > 
			<td>{{ node.name }} </td>
			<td>{{ node.hostname }}</td>
			<td>{{ node.facts.processorcount }}|{{ (node.facts.memorysize_mb)/1024 | number:0 }} Gb </td>
			<td>{{ (node.facts.blockdevice_sda_size)/1024/1024/1024 | number:0}} Gb</td>
			<td><span  tooltip-placement="top" tooltip="{{ node.facts.ipaddress }}">{{ node.facts.macaddress }} </span></td>
			<td>{{ node.state.installed }} </td>
			<td><span  data-ng-repeat="tag in node.tags"><span class="label label-primary"> {{ tag.name }} </span> </span> </td>
			<td>{{ node.facts.is_virtual }} </td>
			<td>{{ node.unix | date:"dd.MM.yyyy - HH:mm:ss"}} </td>
			<td> <a href="#/logs/{{node.name}}">Log</a></td>
			<td> 
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" data-ng-click="command('delete-node', { name : node.name})" tooltip-placement="top" tooltip="Delete node"><i class="fa fa-trash"></i></button>
					<button type="button" class="btn btn-default btn-xs" data-ng-click="command('reboot-node', { name : node.name})" tooltip-placement="top" tooltip="Reboot node"><i class="fa fa-refresh"></i></button>
					<button type="button" ng-if="node.state.installed != false" class="btn btn-default btn-xs" data-ng-click="command('reinstall-node', { name : node.name})" tooltip-placement="top" tooltip="Reinstall node"><i class="fa fa-recycle"></i></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>