		
<div ng-controller="EditModal" class="ng-scope">
    <button class="btn btn-default" ng-click="open('lg', 'policies')">Create a policie</button>

		<table class="table table-hover main-list">
			<thead>
				<th>Name</th>
				<th>Enebled</th>
				<th>Max Count</th>
				<th># of nodes</th>
				<th>Repo name</th>
				<th>Tags</th>
				<th>Task name</th>
				<th></th>
			</thead>
			<tbody>
				<tr data-ng-repeat="policie in data track by $index"> 
					<td>{{ policie.name }} </td>
					<td>{{ policie.enabled }} </td>
					<td>{{ policie.max_count }} </td>
					<td>{{ policie.nodes.count }} </td>
					<td>{{ policie.repo.name }} </td>
					<td><span class="label label-primary" data-ng-repeat="tag in policie.tags"> {{ tag.name }} </span> </td>
					<td>{{ policie.task.name }} </td>
					<td><button class="btn btn-danger" ng-click="delete('delete-policy', repo.name)"  tooltip-placement="top" tooltip="Delete"><i class="fa fa-recycle"></button></td>
				</tr>
			</tbody>
		</table>
</div>