		
<div ng-controller="EditModal" class="ng-scope">
    <button class="btn btn-default" ng-click="open('lg', 'policies')">Create a policy</button>

		<table class="table table-hover main-list">
			<thead>
				<th>Name</th>
				<th>Enebled</th>
				<th>Max Count</th>
				<th># of nodes</th>
				<th>Repo name</th>
				<th>Tags</th>
				<th>Task name</th>
				<th></th>
			</thead>
			<tbody>
				<tr data-ng-repeat="policy in data track by $index"> 
					<td>{{ policy.name }} </td>
					<td>{{ policy.enabled }} </td>
					<td>{{ policy.max_count }} </td>
					<td>{{ policy.nodes.count }} </td>
					<td>{{ policy.repo.name }} </td>
					<td><span class="label label-primary" data-ng-repeat="tag in policy.tags"> {{ tag.name }} </span> </td>
					<td>{{ policy.task.name }} </td>
					<td><button class="btn btn-danger btn-xs" ng-click="delete('delete-policy', policy.name)"  tooltip-placement="top" tooltip="Delete"><i class="fa fa-recycle"></button></td>
				</tr>
			</tbody>
		</table>
</div>