		
<div ng-controller="EditModal" class="ng-scope">
    <button class="btn btn-default" ng-click="open('lg', 'repos')">Create a repo</button>

		<table class="table table-hover main-list">
			<thead>
			<th>Name</th>
			<th>Task name</th>
			<th>ISO url</th>
			<th></th>
		</thead>
			<tbody>
				<tr data-ng-repeat="repo in data track by $index"> 
					<td>{{ repo.name }} </td>
					<td>{{ repo.task.name }} </td>
					<td>{{ repo.iso_url}}</td>
					<td><button class="btn btn-danger" ng-click="delete('delete-repo', repo.name)"  tooltip-placement="top" tooltip="Delete"><i class="fa fa-recycle"></button></td>
				</tr>
			</tbody>
		</table>
	</div>