		
<div ng-controller="EditModal" class="ng-scope">
    <button class="btn btn-default" ng-click="open('lg', 'tags')">Create a tag</button>

		<table class="table table-hover main-list">
			<thead>
				<th>Name</th>
				<th>Nodes count</th>
				<th>Policie Count</th>
				<th>Rule</th>
			</thead>
			<tbody>
				<tr data-ng-repeat="tag in data track by $index"  data-ng-Dblclick="open('lg', 'tags', tag.name)"> 
					<td>{{ tag.name }} </td>
					<td>{{ tag.nodes.count }} </td>
					<td>{{ tag.policies.count }} </td>
					<td>{{ tag.rule | json }} </td>
				</tr>
			</tbody>
		</table>
</div>