		
<div ng-controller="EditModal" class="ng-scope">
    <button class="btn btn-default" ng-click="open('lg', 'tags')">Create a tag</button>

		<table class="table table-hover main-list">
			<thead>
				<th>Name</th>
				<th>Nodes count</th>
				<th>Policie Count</th>
				<th>Rule</th>
				<th></th>
			</thead>
			<tbody>
				<tr data-ng-repeat="tag in data track by $index" > 
					<td>{{ tag.name }} </td>
					<td>{{ tag.nodes.count }} </td>
					<td>{{ tag.policies.count }} </td>
					<td>{{ tag.rule | json }} </td>
					<td><button class="btn btn-danger  btn-xs" ng-click="delete('delete-tag', tag.name)" tooltip-placement="top" tooltip="Delete"><i class="fa fa-recycle"></button></td>
				</tr>
			</tbody>
		</table>
</div>